@import scala.collection.mutable
@(colfields: List[models.fieldClasses.ResponseField])(responseForm: play.data.DynamicForm)
@general("Response Collecting"){
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/moment-with-locales.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-datetimepicker.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-slider.min.js")" ></script>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-datetimepicker.min.css")" />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-slider.min.css")" />
}{
    @helper.form(action = routes.ResponsesController.addUserResponse(), 'id -> "responseForm", 'enctype -> "multipart/form-data") {
        <div class="container" style="margin-top: 15pt">
        @for(colfield <- colfields) {
            @if(colfield.getFieldType==models.fieldClasses.FieldType.CHECKBOX){
                @{//один из "костылей" приложения - реализация чекбокса
                    val tmpseq1 = colfield.asInstanceOf[models.fieldClasses.Checkbox].getAllValues map (x => (x -> x)) toSeq;
                    helper.inputCheckboxGroup(
                        responseForm(colfield.getFieldID.toString),
                        options = tmpseq1,
                        '_label -> colfield.getNameField
                    )
                }
            }else {
                @singleField(colfield)
            }
        }
        </div>
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-default col-xs-2 col-xs-offset-1" style="border: solid black" formmethod="post" formaction="/response">
                Submit</button>
            <button type="button" class="btn btn-default col-xs-2 col-xs-offset-1" style="border: solid black" id="cancelButton">Cancel</button>
        </div>
    }
    <script>
            $('#cancelButton').click(function(){
                $('#responseForm')[0].reset();
            })
            $(function(){
                var serverURL = 'ws://' + window.location.host + '@routes.FieldController.fieldsWebSocket()';
                var socket;
                if(window.MozWebSocket){
                    socket = new MozWebSocket(serverURL);
                }else if(window.WebSocket){
                    socket = new WebSocket(serverURL);
                }
                socket.onopen = function (event) {
                }
                socket.onmessage = function (event) {
                    if(event.data=='update'){
                        resetPage();
                    }
                }
                socket.onerror = function (error) {
                    console.error("WebSocket error: "+error);
                }
                function resetPage(){
                    alert('Sorry,structure of response has changed.Please,fill form again');
                    location.href = '/newresp';
                }
                $('#responseForm').submit(function (event) {
                    event.preventDefault();
                    var formData = new FormData($('#responseForm')[0]);
                    var extractedData = $('#responseForm').serialize();
                    $.ajax({
                        method: 'POST',
                        url: '/response',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (message_text) {
                            alert('Thank you for submiting your data!');
                            location.href = '/';
                            socket.send("new response:"+extractedData);
                        },
                        error: function (message_text) {
                            console.log('something wrong...');
                            console.log(message_text);
                        }
                    })
                })
            })
    </script>
}